<div class="container">
    <div class="navbar">
        <img src="../assets/logo.png" class="logo" 
        alt="logo" routerLink="inicio">
    <ul>
        <li> <a routerLink="inicio">Inicio</a></li>
        <li> <a routerLink="opening">Opening</a></li>
        <li> <a routerLink="listas">Listas</a></li>
        <li> <a routerLink="loginAdmi">Login</a></li>
    </ul>
</div>
</div>
<br><br>

<router-outlet></router-outlet>
<br><br><br>
<div>
    <div class="containerfooter">
        <div class="navbar">
            <img src="../assets/logo.png" class="logo" 
            alt="logo" routerLink="inicio">
        <ul>
            <li> <img src="https://img.icons8.com/ios-filled/50/000000/facebook--v2.png"/></li>
            <li> <img src="https://img.icons8.com/material-outlined/50/000000/youtube--v2.png"/></li>
            <li> <img src="https://img.icons8.com/material-outlined/50/000000/github.png"/></li>
            <li> <img src="https://img.icons8.com/material-rounded/50/000000/linkedin--v2.png"/></li>
            
        </ul>
    </div>
    </div>
</div>